<style>
 
 .div1{
   float:left;
  background: #5DEAA8;
  height: 500px;
  width: 400px;
  border-radius: 25px;
  border: 10px solid ;
  padding: 20px 50px 60px 90px;
  margin: 05px 10px 40px 50px;
  font-size: 1.2em
  position:relative;
 
  
}

</style>